
@{
    

bool consulta = Convert.ToBoolean(Request.QueryString["consulta"]);
bool reporte = Convert.ToBoolean(Request.QueryString["reporte"]);
string selected = Request.QueryString["selected"].ToString();
var inputs = Request.QueryString["inputs"];
var JSON = Json.Decode(inputs);
//char c = (char) 98;


}




@if(consulta==true){
    string query = "";  
    var con = Database.Open("disco");                         
    switch(selected){
      
        case "Fecha de entrada": 
            var a = Convert.ToDateTime(JSON.a); var b = Convert.ToDateTime(JSON.b);
            var desde = a.Year.ToString() + a.Month.ToString() + a.Day.ToString();
            var hasta = b.Year.ToString() + b.Month.ToString() + b.Day.ToString(); 
            query = String.Format("select * from Producto where Fecha_entrada >= {0} and Fecha_entrada <= {1} order by Id desc", desde, hasta);
        break;

        case "Título":
            query = String.Format("select * from Producto where Titulo like '{0}%'", JSON["a"]);
        break;

        case "Precio":
            query = String.Format("select * from Producto where Precio >= {0} and Precio <= {1} order by Id desc", JSON["a"], JSON["b"]);
        <text>Soy El Precio!!!!!</text>
        break;

        case "Calificación":
            query = String.Format("select * from Producto where Estrellas >= {0} and Estrellas <= {1} order by Id desc", JSON["a"], JSON["b"]);
        <text>Soy La Calificación!!!!!</text>
        break;

        default:
        <text>Soy NADA!!!!!</text>
        break;
    }
    var resultado = con.Query(query); 
    dynamic[] salida = new dynamic[resultado.Count()];
    salida = resultado.ToArray();
    /*var tabla = new WebGrid(resultado, columnNames: new []{"Portada", "Titulo", "Fecha_entrada", "Precio"});
    <span>@tabla.GetHtml()</span>*/
    var date="";
    <table class="" id="consultando">
        <caption>@resultado.Count()</caption>
        <tr>
            <th>Portada</th> <th>Título</th> <th>Fecha de entrada</th> <th>Precio</th> <th>Id</th>
        </tr>
       
        @for(var i=0;i < resultado.Count(); i++){ 
            string anio = Convert.ToString(salida.ElementAt(i).Fecha_entrada).Remove(4);
            string mes = Convert.ToString(salida.ElementAt(i).Fecha_entrada).Substring(4,2);
            string dia = Convert.ToString(salida.ElementAt(i).Fecha_entrada).Substring(6);
            date = String.Format("{0}/{1}/{2}", dia, mes, anio);
            <tr>
                <td><img alt="@salida.ElementAt(i).Portada" src="@salida.ElementAt(i).Portada" style="width: 150px;"/></td> 
                <td>@salida.ElementAt(i).Titulo</td> 
                <td>@date</td> 
                <td>@salida.ElementAt(i).Precio</td> 
                <td>@salida.ElementAt(i).Id</td>
                <td><span onclick="edit(this)" class="glyphicon glyphicon-pencil"></span></td>
                <td><span  onclick="deleting(this);" class="glyphicon glyphicon-remove-circle"></span></td>
            </tr> }
    </table>
}else if(reporte==true){

     <text> 
        Reportando
    </text>
}

@{

   
 
    //<text>@inputs</text>
    /*<text>@JSON.a</text>
    <text>@JSON["b"]</text>*/
    /*<br />
    for(var i=0;true;i++){
        char letra = (char) (i+97);
        if(JSON[letra.ToString()]==null){
            break;
        }

        <text>@JSON[letra.ToString()]</text>
    }*/
}

